@{
    ViewBag.Title = "Home Page";
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                To learn more about ASP.NET MVC visit <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>. 
                The page features 

                <span class="label label-success">videos</span>, 
                <span class="label label-inverse">tutorials</span>,  and
                <span class="label label-info">samples</span>
                
                to help you get the most from ASP.NET MVC. If you have
                any questions about ASP.NET MVC visit <a href="http://forums.asp.net/1146.aspx/1?MVC"
                    title="ASP.NET MVC Forum">our forums</a>.
            </p>
        </div>
    </section>
}

<h2>We suggest the following</h2>

<div class="row">
    <div class="span6">
        <div class="well">
            <h5>Getting Started</h5>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and that gives you full control over markup
            for enjoyable, agile development. ASP.NET MVC includes many features that enable
            fast, TDD-friendly development for creating sophisticated applications that use
            the latest web standards. 
            <div class="row ">
                <div class="pull-right">
                    <a class="btn btn-success" href="http://go.microsoft.com/fwlink/?LinkId=245151">
                    <i class="icon-thumbs-up icon-white"></i> Learn more</a>
                </div>
            </div>
        </div>
    </div>
    <div class="span3">
        <div class="well">
            <h5>Add NuGet packages and jump start your coding</h5>
            NuGet makes it easy to install and update free libraries and tools. <br /><br /><br />
            <div class="row">
                <div class="pull-right">
                    <a class="btn btn-danger" href="http://go.microsoft.com/fwlink/?LinkId=245153"><i class="icon-share-alt icon-white"></i> Learn more</a>
                </div>
            </div>
        </div>
    </div>
    <div class="span3">
        <div class="well">
            <h5>Find Web Hosting</h5>
            You can easily find a web hosting company that offers the right mix of features
            and price for your applications. <br /><br /><br />
            <div class="row">
                <div class="pull-right">
                    <a class="btn btn-inverse" href="http://go.microsoft.com/fwlink/?LinkId=245157"><i class="icon-hand-right icon-white"></i> Learn more</a>
                </div>
            </div>
        </div>
    </div>


</div>

