@{
    ViewBag.Title = "Index";
}

<h2>Bootstrapping Mvc 4</h2>

<h3>The Boolean Factor - Avoiding the Checkbox</h3>
<ul>
    <li>@Html.ActionLink("View movie pass details", "Details", "MoviePass")</li>
    <li>@Html.ActionLink("Create a new movie pass", "Create", "MoviePass")</li>
</ul>





